@media screen and (min-width: 400px) {
    .eko-gallery.eko-react-gallery {
        flex-direction: row !important;
    }

    .eko-gallery.eko-react-gallery .eko-nav-container {
        display: flex !important;
        flex-shrink: 0 !important;
        height: 569px !important;
    }

    .eko-gallery.eko-react-gallery .eko-nav {
        display: flex !important;
        flex-direction: column !important;
        justify-content: start !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        gap: var(--navItemsGapEkoDesktop) !important;
        padding: var(--navBarPaddingEkoDesktop) !important;
    }

    /* Navigation arrows */
    .eko-gallery.eko-react-gallery .eko-nav-container button.eko-nav-arrow {
        position: absolute !important;
        width: 30px !important;
        height: 30px !important;
        border: 1px solid rgba(255, 255, 255, 0.3) !important;
        border-radius: 50% !important;
        color: white !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        cursor: pointer !important;
        z-index: 10 !important;
        transition: all 0.3s ease !important;
    }
    
    .eko-gallery.eko-react-gallery .eko-nav-container button.eko-nav-arrow.eko-next-nav-button svg {
    transform: rotate(90deg);
    }

    .eko-gallery.eko-react-gallery .eko-nav-container button.eko-nav-arrow:hover {
        background: rgba(255, 255, 255, 0.8) !important;
        border-color: white !important;
    }

    .eko-gallery.eko-react-gallery .eko-nav-container button.eko-nav-arrow.eko-prev-nav-button {
        top: 10px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .eko-gallery.eko-react-gallery .eko-nav-container button.eko-nav-arrow.eko-next-nav-button {
        bottom: 10px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .eko-gallery.eko-react-gallery .eko-nav li {
        border-radius: 0 !important;
        padding: 0 !important;
        padding-bottom: calc(var(--navItemsSelectedThicknessEkoDesktop) + var(--navItemsSelectedMarginEkoDesktop)) !important;
    }

    .eko-gallery.eko-react-gallery .eko-nav li button {
        border-radius: var(--navItemsRadiusEkoDesktop) !important;
    }

    .eko-gallery.eko-react-gallery .eko-smart-gallery-container {
        border-radius: var(--carouselItemsRadiusEkoDesktop) !important;
    }
}